<?xml version="1.0"?>
<root>
  <informations>
    <software>
      <name>
      squarePi
      </name>
      <version>
      0.2
      </version>
      <author>
      DokT
      </author>
    </software>
  </informations>
  <config>
    <log>
      <enabled>0</enabled>
      <log_path>./</log_path>
    </log>
  </config>
</root>
